<!DOCTYPE html>
<html>
   <body>
         <form action = "http://127.0.0.1:5000/train" method = "POST">
         <label for="fname">
            <h1> Enter the model number you want to implement: </h1>
            <h4> 1) Regression (Linear, Decision Tree, Random Forest) </h4>
            <h4> 2) Classification (Logistic, SVM, KNN, Naive Bayes, Decision Tree, Random Forest ) </h4>
            <h4> 3)Clustering(K-Means Clustering)  </h4>

         </label>
            <br>
         <input type="number" id="fname" name="fname"><br>
      </form>
   </body>
</html>
